<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <main>
        <section>
            <ul>
                <li>LOOOL</li>
            </ul>
        </section>

        <form action="">
            <input type="text">
            <button type="submit"></button>
        </form>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>

    <script src="./public/script/script.js"></script>
</body>
</html>