@import url("https://use.typekit.net/edf1wmn.css");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

html {
    scroll-behavior: smooth;
}

:root {
    --rosy: #fbb4ae;
    --blue: #b3cde3;
    --green: #ccebc5;
    --purpel: #decbe4;
    --sand: #fed9a6;
    --yellow: #ffffcc;
    --brouwn: #e5d8bd;
    --pink: #fddaec;
    --white: #f2f2f2;
}

body {
    background-color: var(--yellow);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "interstate", sans-serif;
}

header {
    background-color: var(--blue);

    width: 50vw;
}

main {
    width: 50vw;
    height: 70vh;
    position: relative;

    background-color: var(--purpel);
    border-radius:  8% 8% 8% 8% / 8% 8% 8% 8%;


}

main h1{
    width: 100%;
    height: 7%;
    font-size: 2.5vw;
    text-align: center;
}

/* main section:first-of-type{
    width: 100%;
    height: 100%;
    background-color: var(--white);

    position: absolute;

    border-radius: 8% 8% 8% 8% / 8% 8% 8% 8%;
} */