<main class="chat">
    <section>
      <ul></ul>
      <p></p>
      <form>
        <fieldset>
          <input type="text" placeholder="Message" id="message" autocomplete="off">
          <button id="send"><span>Send</span></button>
        </fieldset>
      </form>
    </section>
</main>