<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") -%>

    <body>
        <header>
            <h1>HOME PAGE</h1>
        </header>
        <main>
            <section>
                <ul></ul>
            </section>

            <form>
                <input type="text" name="message" id="message">
                <button type="submit">submit</button>
            </form>
        </main>
        <%- include("./partials/footer.ejs") -%>
    </body>

</html>