<%- include('partials/header') %>
<main>

</main><section>
    <ul></ul>
  </section>
  <form>
    <input type="text" autocomplete="off" />
    <button>Send</button>
  </form>

<%- include('partials/footer') %>