<%- include('partials/head'); %>
<!-- A simple chat - RTW week 1-->
    <section>
        <h1>Anonieme chat</h1>
        <ul></ul>
        <div class="fallback"></div>
        <form>
            <input type="text" autocomplete="off" placeholder="Type a message">
            <button><span>Send</span></button>
        </form>
    </section>
    <%- include('partials/footer'); %>