<main>
    <form action="/raad-het-boek" action="post">
        <label for="username">
            Naam:
            <input type="text" name="username" id="username">
        </label>
        <label for="genre">
            Kies een genre:
            <select name="genre" id="genre">
                <option value="fantasy">Fantasy</option>
                 <option value="fiction">Fiction</option>
                <option value="romance">Romance</option>
                <option value="thriller">Thriller</option>
            </select>
        </label>
        <button type="submit">Start</button>
    </form>
</main>